
  
  .song-row__item{
    align-self: center;
    text-align: center;
    width: 100%;
  }
  .song-form__field{
    font-size: 16px;
    height: 20px;
    margin: 5px;
    width: 100%;
  }
  .song-form__dropdown{
    font-size: 16px;
    height: 28px;
    margin: 5px;
    width: 100%;
  }
  .btn{
    background-color:#c74550;
	border-radius:28px;
	border:1px solid #ab1919;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:14px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #66283c;
    margin: 5px
  }
 
  .song-form{
    display: flex;
    width: 95vw;
    height: 70px;
    color: white;
    background-color: tomato;
    justify-content: space-evenly;
    padding: 5px;
    margin-bottom: 20px;

  }
  .title{
    text-align: center;
  }